.main-menu-list
  @include no-bullet
  @include horizontal-list-container
  padding-left: $pad
  &__item
    @include horizontal-list-item
    margin-right: 1.65em
  &__link--current
    color: #f14e32

