.header
  padding: $pad 0
  margin-bottom: $pad
  background-color: #f2f2f2

.main-menu-list
  @include no-bullet
  @include horizontal-list-container
  padding-left: $pad

.main-menu li
  @include horizontal-list-item
  margin-right: 1.65em

.main-menu-list__item
  display: block
  text-decoration: none
  color: black
  &:hover
    color: rgba(0,0,0,0.5)
    text-decoration: underline

.main-menu-list__item--current
  color: rgba(0,0,0,0.4)

