<p><strong>Q:</strong> Why this application looks like crap?</p>
<p><strong>A:</strong> I'm a design guy. It's not about me. Sorry :(</p>
<br>
<p><strong>Q:</strong> Why did I use marionette instead of layoutmanager?</p>
<p><strong>A:</strong> It just gives a lot more, like 'skinny' views, semantically correct messaging patterns implementation for decoupling application. Honestly I just like it :)</p>
<br>
<p><strong>Q:</strong> Some words about application architecture?</p>
<p><strong>A:</strong> Every piece of functionality is a pluggable app. They are lazy loaded.</p>



