<li class="main-menu-list__item">
  <a class="main-menu-list__link js-main-menu-home" href="#">Home</a>
</li>
<li class="main-menu-list__item">
  <a class="main-menu-list__link js-main-menu-about" href="#">About</a>
</li>
